body, html {
  height: 100%;
}

.image {
  background-image: url("https://drive.google.com/uc?export=view&id=1AKFMDISDRbb9aDpv7mPP12g9QAo10t0z");
  filter: blur(10px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
}

.header {
  font-size: 35px;
}

.body {
  font-size: 24px;
}
