body, html {
  height: 100%;
}

.image {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyS50y5Fz5jbOCZ_AVA5NqNIn2r_RdtdXOFDAwtiuwiH2rdrzC9vKUfVLi-snN7-oXU3M:https://static.wikia.nocookie.net/lostpedia/images/8/87/The_Island_-_A_Tale_of_Two_Cities.jpg/revision/latest/scale-to-width-down/300%3Fcb%3D20100314065240&usqp=CAU");
  filter: blur(10px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
}

.button {
        display: inline-block;
          padding: 5px 10px;
          border: 2px solid #FFF;
          z-index: 1;
          align-items: center;
}

.button:hover {
          background: #000;
          color: #FFF;
}
