     body {
  background-image: url('https://drive.google.com/uc?export=view&id=1AKFMDISDRbb9aDpv7mPP12g9QAo10t0z');
  height: 3400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
      }

      .dropbtn {
    background: none;
  font-size: 50px;
  cursor: pointer;
  border: none;
  position: fixed;
  margin: 0;
  padding: 0;
  font-color: white;
  top: 33px;
  left: 36px;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: gill sans, sans-serif;
  z-index: 1;
}

.dropdown-content {
  display: none;
  position: fixed;
  right: 20;
  top: 20;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: none;
  border-radius: 16px;
  float: right;
  padding: 5px 5px;
}

.dropdown-content a {
  color: rgb(253,253,253);
  padding: 18px 22px;
  text-decoration: none;
  display: block;
 
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 16px;
}

      .dropdown:hover .dropdown-content {
  display: block;

.dropdown:hover .dropbtn {
  background-color: rgba(0, 0, 0, 0.3);
}


    .lostiesillustration {
       position: relative;
       left: 50%;
       transform: translateX(-50%);
       top: 1423px;
       width: 700px;
       border: 1px solid black;
     }
      
      
    .relative {
    position:relative;
    top:100px;
    left: 50%;
    transform: translateX(-50%);
}

      .intro {
   background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  padding: 10px;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 93%;
  text-align: center;
  color: white;
  font-family: arial, sans-serif;
  line-height: 2em;
  z-index: 1;
}

  .relative2 {
    position:relative;
    top:100px;
    left: 50%;
    transform: translateX(-50%);
}

      .intro2 {
   background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  padding: 10px;
  position: absolute;
  top: 1425px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 45%;
  text-align: center;
  color: white;
  font-family: arial, sans-serif;
  line-height: 2em;
  z-index: 1;
}

      .relative3 {
    position:relative;
    top:100px;
    left: 50%;
    transform: translateX(-50%);
}

      .intro3 {
   background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  padding: 10px;
  position: absolute;
  top: 1553px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  color: white;
  font-family: arial, sans-serif;
  line-height: 2em;
  z-index: 1;
}
      
      .dalogo {
      position: fixed;
        top: 29px;
        right: 15px;
       width: 175px;
      filter: invert(1);
         z-index: 8;
     }
    

     .tlelogo {
      display: block;
       margin-left: auto;
       margin-right: auto;
       width: 108px;
       filter: invert(1);
     }
        
    
