     
  
      body {
  background-image: url('https://drive.google.com/uc?export=view&id=1AKFMDISDRbb9aDpv7mPP12g9QAo10t0z');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
      }



body, html {
  height: 100%;
}



.header {
  font-size: 35px;
}

.body {
  font-size: 24px;
}

.video {
  border: 5px solid #fff;
  align: center;
  display: block;
  margin: auto;
     margin-top: 100px;
     padding: 20px;
}

        .listr {
          border-collapse: collapse;
          width: 97%;
          color: white;
          margin-top: 30px;
          margin-left: auto;
          margin-right: auto;
          font-family: georgia, serif;
        }

      tr:hover {
        background-color: rgba(255,204,153,0.3);
      }

      th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
   border-left: 1px solid #ddd;
     border-right: 1px solid #ddd;
      }
